{% extends 'base.html.twig' %}

{% block title %}Quizz | Login{% endblock %}

{% block body %}

    {% if error %}
        <div class="alert alert-danger text-red-600">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3 text-gray-700">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}" class="text-indigo-600 hover:underline">Logout</a>
        </div>
    {% endif %}

    <form method="post" class="flex justify-center items-center mt-12">
        <div class="space-y-6 w-96">
            <h1 class="text-2xl font-bold mb-4">Please sign in</h1>
            <div>
                <label for="username" class="block text-sm font-medium text-gray-700">Email</label>
                <input type="email" value="{{ last_username }}" name="_username" id="username" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" autocomplete="email" required autofocus>
            </div>
            <div>
                <label for="password" class="block text-sm font-medium text-gray-700">Password</label>
                <input type="password" name="_password" id="password" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" autocomplete="current-password" required>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <button class="w-full inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" type="submit">
                Sign in
            </button>
        </div>
    </form>
{% endblock %}
